
.feat-card {
  color: black;
    padding:25px;
    background-color: #fff;
    box-shadow: 0px 3px 14px 0px rgb(61 72 77 / 15%);
    border-top: solid 6px #172f57;
    max-height: initial;
    height: 300px;
    width: 90%;
    margin: 0 1%;
    margin-bottom:10px !important;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.feat-card img {
    width: 115px;
    max-width: 100%;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


user agent stylesheet
center {
    display: block;
    text-align: -webkit-center;
}
body {
    background: #fff;
    color: #666;
    font-family: 'europa',sans-serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #666;
    text-shadow: none;
}
.img-bg {
    width: 129px;
    max-width: 155px;
    margin-top: -115px;
}
.img-bg {
    background-color: #fff;
    width: 155px;
    max-width: 155px;
    padding: 22px;
    border-radius: 50%;
    margin-top: -113px;
    box-shadow: 2px 2px 9px 3px rgb(23 47 87 / 24%);
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.feat-card-wrapper {
    padding-top: 90px;
    
}

.feat-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}
h4{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.footer-clean {
    padding:50px 0;
    background-color:#021b33f6;
    color:#fff;
    margin-left:15px;
    margin-right:15px;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:20px;
  }
  .footer-clean i {
    color:#ffffff;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:17px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
    
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
   
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px; 
    }
    
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:16px;
    opacity:0.8;
    color:#fff;
  }
  label {
    margin: 0 40px 0 0;
    font-size:30px;
    line-height: 70px;
    color:#ffffff;
    width: 26px;
    float: right;
    display: none;
}
#toggle {
    display: none;
}
